APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

CUSTOM_UGENT_CAS_USERNAME=
CUSTOM_UGENT_CAS_PASSWORD=
CUSTOM_UGENT_GROUP=
CUSTOM_AUTH_ENABLED=
CUSTOM_AUTH_PASSWORD=

LOG_SLACK_WEBHOOK_URL=
